@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .title {
    @apply font-semibold  text-2xl;
  }
  section {
    @apply mt-4 mb-10 mx-8 ;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera*/
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
  }

  .text-balance {
    text-wrap: balance;
  }
  .cart-badge{
    @apply absolute ml-4 mt-2 items-center justify-center flex mx-auto w-4 bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300
  }
  @screen xs {
    .nav-menu {
      @apply fixed bg-white dark:bg-gray-800 h-screen  left-[-100%] top-20 flex-col w-full text-center  ;
    }
    .nav-menu.active {
      @apply left-0 transition-all duration-[0.2s];
    }
  }
  @screen md {
    .nav-menu {
      @apply relative flex flex-row text-center h-fit top-0 left-0 ;
    }
  }
  .hamburger {
    @apply block cursor-pointer;
  }
}
